
<div class="slim-description">
    <p>
        This place is all about my thoughts, obsessions, and mostly rants.
        <br>
        You can reach out to me on
        <a
            class="brand-icon"
            target="_blank"
            href="https://github.com/ramezanius"
        >
            <i class="fab fa-github"></i>
        </a>,

        <a
            class="brand-icon"
            target="_blank"
            href="https://twitter.com/ramezanius"
        >
            <i class="fab fa-twitter"></i>
        </a>
        ,
        <a
            class="brand-icon"
            target="_blank"
            href="https://instagram.com/ramezanius"
        >
            <i class="fab fa-instagram"></i>
        </a>
        ,
        <a
            class="brand-icon"
            target="_blank"
            href="https://stackoverflow.com/story/ramezanius"
        >
            <i class="fab fa-stack-overflow"></i>
        </a>
        , and
        <a
            class="brand-icon"
            target="_blank"
            href="https://linkedin.com/in/ramezanius"
        >
            <i class="fab fa-linkedin"></i>
        </a>
        if you are into that kinda stuff.

    </p>

</div>
